<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% if @another_entries.present? %>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <tbody>
            <% @another_entries.each do |entry| %>
              <% last_message = Message.find_by(id: entry.room.message_ids.last) %>
              <tr>
                <td>
                  <div class="col-md-2">
                    <%= link_to user_user_path(entry.user) do %>
                      <%= attachment_image_tag entry.user, :profile_image, size: '50x50', fallback: 'others/no_image.png', class: 'img-thumbnail img-responsive img-hover' %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <strong>
                      <%= link user_user_path(entry.user) do %>
                        <%= entry.user.name %>
                      <% end %>
                    </strong>
                    <%= link_to user_room_path(entry.room.id) do %>
                      <p>
                        <%= last_message&.body %>
                      </p>
                    <% end %>
                  </div>
                  <div class="col-md-4">
                    <% if last_message.present? %>
                      <%= last_message&.created_at %>
                    <% else %>
                      <%= link_to 'メッセージを送る', user_room_path(entry.room) %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% else %>
              <div class="centered">
                <p>
                  メッセージが存在しません
                </p>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <%= paginate @another_entries %>
</div>