<% if tourist_spots.present? %>
  <%= tourist_spots.each.with_index(1) do |tourist_spot, index| %>
    <div class="thumbnail">
      <%= link_to tourist_spot_path(tourist_spot) do %>
        <% if index == 1 || index == 2 || index == 3 %>
          <div class="ribbon-wrapper">
            <span class="ribbon">
              <div class="text-center">
                <% case index when 1 %>
                  # 金王冠
                <% when 2 %>
                  # 銀王冠
                <% when 3 %>
                  銅王冠
                <% end %>
              </div>
            </span>
          </div>
        <% end %>
      <% end %>

      <% attachment_image_tag tourist_spot, :spot_image, fallback: 'no_image_jpg' %>
      <div class="caption">
        <p>
          <div class="score">
            平均点
          </div>
          <%= link_to "#{ tourist_spot.reviews.count }レビュー", tourist_spot_reviews_path(tourist_spot), class: 'btn btn-default margin-left--10px' %>
        </p>
        <%= link_to tourist_spot.name, tourist_spot_path(tourist_spot) %>
        <% tourist_spot.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>観光スポットは存在しません</p>
<% end %>

