<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_with(model: @tourist_spot, local: true) do |f| %>
      <%= f.file_field :spot_image, id: 'image', class: 'img_field', style:"display:none;" %>
      <%= attachment_image_tag @tourist_spot, :spot_image, onClick:"$('.img_field').click()", fallback: 'others/no_image.png',id: 'image-preview', class: 'center-block img-thumbnail img-responsive img_prev' %>
      <br>

      <script>
        const uploadImageModule =(() => {
        const inputElement = document.getElementById('image')
        const previewElement = document.getElementById('image-preview')
        
        inputElement.addEventListener("change", event => {
        event.preventDefault();     // デフォルトイベントのキャンセル
        event.stopPropagation();    // イベントのバブリングを防ぐ
        
        // type="file"を指定されたinput要素のchangeイベントは「ファイルのリスト」を返す
        const file = event.target.files[0];
        
        // ファイルが存在しないか、ファイル形式が"image/*"ではないとき
        if (!file || !file.type.match(/image\/*/)) {
            alert('画像ファイルではありません。')
            return false;
        }
        
        // FileReaderのインスタンスを生成（ローカルファイルを読み込むオブジェクト）
        const reader = new FileReader();
        
        // FileReaderの読み込みが完了した結果（アップロードした画像ファイルのデータ）を、img要素のsrcにセット
        reader.addEventListener('load', event => {
            // event.target.resultは、base64エンコードされた画像データ
            previewElement.setAttribute('src', event.target.result);
        })
        
        // セットされたオブジェクトを読み込む
        reader.readAsDataURL(file);
        });
        })();
      </script>

      <br>
      <br>

      <%= f.label :name, '施設、観光地名' %>
      <span class="label label-danger">必須</span>
      <%= f.text_field :name, placeholder: '例) 東京ディズニーランド', class: 'form-control' %>
      <br>

      <%= f.label :tag_list, 'タグ' %>
      <span class="label label-default">任意</span>
      <br>
      <% byebug %>
      <%= f.text_field :tag_list, value: @tourist_spot.tag_list.join(','), class: 'form-control', id: 'tags' %>
      <br>

      <%= label_tag 'ジャンル' %>
      <span class="label label-danger">必須</span>
      <%= select_tag 'genre', options_for_select(@genre_names), class: 'form-control' %>
      <br>

      <%= label_tag '利用シーン' %>
      <span class="label label-danger">必須</span>
      <%= select_tag 'scene', options_for_select(@scene_names), class: 'form-control' %>
      <br>

      <%= f.label :postcode, '郵便番号' %>
      <span class="label label-danger">必須</span>
      <%= f.text_field :postcode, placeholder: '例) 279-0031', class: 'form-control' %>
      <br>

      <%= f.label :prefecture_name, '都道府県' %>
      <span class="label label-danger">必須</span>
      <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
      <br>

      <%= f.label :address_city, '市区町村' %>
      <span class="label label-danger">必須</span>
      <%= f.text_field :address_city, placeholder: '例) 浦安市舞浜',class: 'form-control' %>
      <br>

      <%= f.label :address_street, '番地' %>
      <span class="label label-danger">必須</span>
      <%= f.text_field :address_street, placeholder: '例) 1-1', class: 'form-control' %>
      <br>

      <%= f.label :address_building, '建物' %>
      <span class="label label-default">任意</span>
      <%= f.text_field :address_building, placeholder: '例) 山田ビル' ,class: 'form-control' %>
      <br>

      <%= f.label :introduction, '紹介文' %>
      <span class="label label-danger">必須</span>
      <%= f.text_area :introduction, placeholder: '例) “夢がかなう場所”、東京ディズニーリゾート。ここはそれぞれが明確に異なるテーマと楽しさを持つ個性的な施設の集まりでありながら、エリア全体としては調和のとれた時間と空間が創出される場所です。',class: 'form-control', style: 'height: 200px;' %>
      <br>

      <%= f.label :access, 'アクセス方法' %>
      <span class="label label-danger">必須</span>
      <%= f.text_area :access, placeholder: '例) JR舞浜駅でディズニーリゾートラインに乗り換え、「東京ディズニーシー・ステーション」で下車ください。',class: 'form-control' %>
      <br>

      <%= f.label :phone_number, '電話番号' %>
      <span class="label label-danger">必須</span>
      <%= f.text_field :phone_number, placeholder: '例) 045-330-0000',class: 'form-control' %>
      <br>

      <%= f.label :business_hour, '営業時間' %>
      <span class="label label-danger">必須</span>
      <%= f.text_area :business_hour, placeholder: '例) 開園時間：8:00～22:00 季節により異なります', class: 'form-control', style: 'height: 100px;'%>
      <br>

      <%= f.label :home_page, 'ホームページ' %>
      <span class="label label-danger">必須</span>
      <%= f.text_area :home_page, placeholder: '例) https://www.tokyodisneyresort.jp/tdl/', class: 'form-control' %>
      <br>

      <%= f.label :parking, '駐車場' %>
      <span class="label label-danger">必須</span>
      <%= f.text_area :parking, placeholder: '例) 有 (敷地内に200台)', class: 'form-control' %>
      <br>

      <%= f.submit '登録', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
