<div class="row">
  <div class="page-header">
    <h3><%= @scene.name %></h3>
  </div>
</div>


<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <%= form_with url: tourist_spot_scene_search_path, method: :get, local: true do %>
      <div class="col-md-9">
        <%= hidden_field_tag :scene_search, @scene_search %>
        <%= select_tag 'sort', options_for_select([['おすすめ順', '1'], ['PV数', '2'], ['点数順', '3'], ['レビュー数', '4'], ['新着順', '5'], ['ランダム表示', '6']]), include_blank: '-----', class: 'form-control' %>
      </div>
      <%= submit_tag '並び替え', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<br>

<%= render 'tourist_spots', tourist_spots: @tourist_spots %>
