<%= render 'detail', tourist_spot: @tourist_spot %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <table class="table table-bordered">
      <tr>
        <th>観光地名</th>
        <td><%= @tourist_spot.name %></td>
      </tr>
      <tr>
        <th>紹介文</th>
        <td><%= @tourist_spot.introduction %></td>
      </tr>
      <tr>
        <th class="active">タグ</th>
        <td>
          <% @tourist_spot.tag_list.each do |tag| %>
            <%= link_to tag, tourist_spot_tag_search_path(tag_name: tag), class: 'label label-default margin-left--10px' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="active">ジャンル</th>
        <td>
          <% @tourist_spot.genres.each do |genre| %>
            <%= link_to genre.name, tourist_spot_genre_search_path(genre_search: genre.id) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @tourist_spot.full_address %></td>
      </tr>
      <tr>
        <th>アクセス</th>
        <td><%= @tourist_spot.access %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @tourist_spot.phone_number %></td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td><%= @tourist_spot.business_hour %></td>
      </tr>
      <tr>
        <th>駐車場</th>
        <td><%= @tourist_spot.is_parking %></td>
      </tr>
    </table>
    <%= link_to '編集', edit_tourist_spot_path(@tourist_spot), class: 'btn btn-primary' %>
  </div>
</div>