<h3>観光地詳細</h3>
<%= render 'detail', tourist_spot: @tourist_spot %>

<%= link_to 'レビュー一覧', tourist_spot_reviews_path(@tourist_spot) %>
<%= link_to 'レビューを書く', new_tourist_spot_review_path(@tourist_spot) %>

<div class="row">
  <div class="col-md-8 mx-auto">
    <table class="table table-bordered">
      <tr>
        <th>観光地名</th>
        <td><%= @tourist_spot.name %></td>
      </tr>
      <tr>
        <th>紹介文</th>
        <td><%= @tourist_spot.introduction %></td>
      </tr>
      <tr>
        <th>アクセス</th>
        <td><%= @tourist_spot.access %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @tourist_spot.phone_number %></td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td><%= @tourist_spot.business_hour %></td>
      </tr>
      <tr>
        <th>駐車場</th>
        <td><%= @tourist_spot.is_parking %></td>
      </tr>
    </table>
    <%= link_to '編集', edit_tourist_spot_path(@tourist_spot), class: 'btn btn-primary' %>
  </div>
</div>