<div class="row">
  <% if @followings.present? %>
    <% @followings.each do |user| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <p>
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, fallback: 'others/no_image.png', class: 'img-responsive img-hover' %>
                <%= user.name %>
              <% end %>
            </p>
            <%= link_to "#{ user.follower.count }フォロー中", following_path(user) %>
            <br>

            <span id="follower-link-#{ user.id }">
              <%= link_to "#{ user.followed.count }フォロワー", follower_path(user) %>
            </span>
            <% if user_signed_in? %>
              <% unless user == current_user %>
                <span id='followbutton_#{ user.id }' >
                  <%= render 'users/followbutton', user:user %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="centered">
      <p>
        ユーザーが存在しません
      </p>
    </div>
  <% end %>
</div>

<div class="row">
  <%= paginate @followings %>
</div>
