<h3>ジャンル編集</h3>
<div class="row">
  <div class="col-md-8">
    <%= form_with model: @genre, url: edit_admin_genre_path(@genre), local: true, class: 'genre__form', builder: CustomFormBuilder do |f| %>
      <%= f.label :genre_image, '画像' %>
      <br>
      <%= attachment_image_tag @genre, :genre_image, fallback: 'no_image.jpg', size: '400x400' %>
      <br>
      <%= f.file_field :genre_image, autofocus: true %>
      <br>
      <%= f.label :name, 'ジャンル名' %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.submit '追加', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
