<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table">
        <tbody class="text-center">
          <tr>
            <td>
              <h3>
                <% case @user.rank when 'レギュラー' %>
                  <div class="label label-default">
                    <%= @user.rank %>
                    <div class="badge">
                      <%= @user.point %>
                    </div>
                  </div>
                  <% when 'シルバー' %>
                    <div class="label label-default">
                      <%= @user.rank %>
                      <div class="badge">
                        <%= @user.point %>
                      </div>
                    </div>
                  <% when 'ゴールド' %>
                    <div class="label label-warning">
                      <%= @user.rank %>
                      <div class="badge">
                        <%= @user.point %>
                      </div>
                    </div>
                  <% when 'プラチナ' %>
                    <div class="label label-info">
                      <%= @user.rank %>
                      <div class="badge">
                        <%= @user.point %>
                      </div>
                    </div>
                  <% when 'ダイヤモンド' %>
                    <div class="label label-danger">
                      <%= @user.rank %>
                      <div class="badge">
                        <%= @user.point %>
                      </div>
                    </div>
                <% end %>
              </h3>
              <% if @user == current_user %>
                <p>
                  次のランクまであと<%= @user.next_rank(@user) %>ポイント
                </p>
              <% end %>
              <div>
                <%= attachment_image_tag @user, :profile_image, size: '400x400', fallback: 'others/no_image.png', class: 'img-thumbnail img-responsive' %>
                <br>
                <h4>
                  <strong><%= @user.name %></strong>
                  (
                    <%= @user.age %>
                    歳
                    <%= @user.sex %>
                  )
                </h4>
              </div>
              <br>

              <% if @user == current_user %>
                <%= link_to 'プロフィールを編集', edit_user_user_path(@user), class: 'btn btn-primary' %>
                <%= link_to '退会', user_user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger margin-left--10px' %>
              <% end %>
              <br>
              <br>

              <% if user_signed_in? %>
                <% unless @user == current_user %>
                  <div id='followbutton_#{ @user.id }'>
                    <%= render 'user/users/followbutton', user: @user %>
                  </div>
                  <br>
                  <% if @is_room == true %>
                    <%= link_to 'メッセージ', user_room_path(@room_id), class: 'btn btn-success' %>
                  <% else %>
                    <%= form_with model: @room, url: user_rooms_path, local: true do |f| %>
                      <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id,value: @user.id %>
                      <% end %>
                      <%= f.submit 'メッセージ', class: 'btn btn-success' %>
                    <% end %>
                  <% end %>
                  <br>
                <% end %>
              <% end %>
              <%= @user.introduction %>
            </td>
          </tr>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation">
      <%= link_to 'ユーザートップ', user_user_path(@user) %>
    </li>
    <li role="presentation">
      <%= link_to '行った観光地', user_wents_path(@user) %>
    </li>
    <li role="presentation">
      <%= link_to '行きたい観光地', user_favorites_path(@user) %>
    </li>
    <li role="presentation">
      <%= link_to "#{ @user.follower.count }フォロー中", user_following_path(@user) %>
    </li>
    <li role="presentation">
      <%= link_to "#{ @user.followed.count }フォロワー", user_follower_path(@user) %>
    </li>
  </ul>
  <br>
</div>
<div class="row">
  <%= render 'user/reviews/reviews', reviews: @reviews %>
</div>
<div class="row">
  <%= paginate @reviews %>
</div>
