<h1 class="ml-5">テスト!</h1>
<% if @user %>
  <%= @user.name %>
  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100" %>
<% end %>

<% @tourist_spots.each do |tourist_spot| %>
  <%= link_to tourist_spot_path(tourist_spot) do %>
    <%= tourist_spot.name %>
    <%= attachment_image_tag tourist_spot, :spot_image, format: 'jpeg', size: '150x100' %>
  <% end %>
<% end %>