<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sortable">
      <thead>
        <tr class="active">
          <th class="text-center">
            観光スポット
          </th>
          <th class="text-center">
            ジャンル
          </th>
          <th class="text-center">
            利用シーン
          </th>
          <th class="text-center">
           行った!
          </th>
          <th class="text-center">
            行きたい！
          </th>
        </tr>
      </thead>
      <tbody>
        <% tourist_spots.each do |tourist_spot| %>
          <tr class="item" data = { model_name: tourist_spot.class.name.underscore, update_url: user_tourist_spot_sort_path(tourist_spot) }>
            <td>
              <%= link_to user_tourist_spot_path(tourist_spot) do %>
                <%= attachment_image_tag tourist_spot, :spot_image, size: '50x50', class: 'img-thumbnail img-responsive img-hover' %>
                <span class="margin-left--10px">
                  <%= tourist_spot.name %>
                </span>
              <% end %>
            </td>
            <td class="text-center">
              <% tourist_spot.genres.each do |genre| %>
                <% genre.name %>
              <% end %>
              
            </td>
            <td class="text-center">
              <% tourist_spot.scenes.each do |scene| %>
                <%= scene.name %>
              <% end %>
            </td>
            <td class="text-center">
              <%= tourist_spot.favorites.count %>
            </td>
            <td class="text-center">
              <%= tourist_spot.wents.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_include_tag 'table_sort.js' %>