<% @tourist_spot.impressionist_count(filter: :session_hash) %>

<div class="row">
  <%= render 'detail', tourist_spot: @tourist_spot %>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render 'weather', tourist_spot: @tourist_spot %>
  </div>
  <div class="col-md-9">
    <div class="page-header">
      <h3 class="text-center">
        観光スポット詳細情報
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="active">
              紹介文
            </th>
            <td>
              <%= @tourist_spot.introduction %>
            </td>
          </tr>
          <tr>
            <th class="active">
              タグ
            </th>
            <td>
              <% @tourist_spot.tag_list.each do |tag| %>
                <%= link_to tag, user_tourist_spot_tag_search_path(tag_name: tag), class: 'label label-default margin-left--10px' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="active">
              ジャンル
            </th>
            <td>
              <% @tourist_spot.genres.each do |genre| %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="active">
              利用シーン
            </th>
            <td>
              <% @tourist_spot.scenes.each do |scene| %>
                <%= scene.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="active">
              住所
            </th>
            <td>
              <%= @tourist_spot.full_address %>
            </td>
          </tr>
          <tr>
            <th class="active">
              アクセス方法
            </th>
            <td>
              <%= @tourist_spot.access %>
            </td>
          </tr>
          <tr>
            <th class="active">
              営業時間
            </th>
            <td>
              <%= @tourist_spot.business_hour %>
            </td>
          </tr>
          <tr>
            <th class="active">
              電話番号
            </th>
            <td>
              <%= @tourist_spot.phone_number %>
            </td>
          </tr>
          <tr>
            <th class="active">
              ホームページ
            </th>
            <td>
              <%= link_to @tourist_spot.home_page, @tourist_spot.home_page, target: '_blank' %>
            </td>
          </tr>
          <tr>
            <th class="active">
              駐車場
            </th>
            <td>
              <%= @tourist_spot.parking %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @tourist_spot.user == current_user %>
      <div class="pull-right">
        <%= link_to '編集', edit_user_tourist_spot_path(@tourist_spot), class: 'btn btn-primary' %>
        <%= link_to '削除', user_tourist_spot_path(@tourist_spot), method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-danger margin-left--10px' %>
      </div>
    <% end %>
  </div>
</div>
