<h3>レビュー一覧</h3>
<%= render '/tourist_spots/detail', tourist_spot: @tourist_spot %>
<div class="row">
  <% @tourist_spot_reviews.each do |review| %>
    <div class="col-md-8 my-4 mx-auto">
        <div class="card">
          <div class="border-bottom p-3">
            <%= attachment_image_tag review.user,:profile_image, fallback: "no_image.jpg", class: "icon-image" %>
            <strong><%= review.user.name %></strong>
          </div>
          <div class="border-bottom p-3">
            <strong><%= review.score %>点</strong>
          </div>
            <p class="m-3"><strong><%= review.title %></strong></p>
          <div class="ml-3">
            <%= review.body %>
          </div>
          <div class="col-md-3 p-3">
            <%= attachment_image_tag review, :review_image, fallback: "no_image.jpg" %>
          </div>
        </div>
    </div>
  <% end %>
</div>