<div class="row">
  <div class="col-md-8 mx-auto">
    <h3>レビューを追加</h3>
    <%= form_with(model: @review, url: user_tourist_spot_reviews_path, method: :post, local: true) do |f| %>
      <%= f.label :review_image, '画像' %>
      <%= f.file_field :review_image, class: 'form-control' %>
      
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :body, '本文' %>
      <%= f.text_area :body, class: 'form-control' %>

      <%= f.label :score, '点数' %>
      <%= f.select :score, options_for_select(1..100), { prompt: '選択してください' }, class: 'form-control' %>

      <%= f.submit '登録', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>