<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type='button' data-toggle='collapse' data-target='#navbarEexample7'>
          <span class="sr-only">
            Toggle nabigation
          </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand', 'data-turbolinks': false do %>
          <%= image_tag 'others/logo.png', class: 'header__logo' %>
        <% end %>
      </div>

      <div id='navbarEexample7' class='collapse navbar-collapse'>
        <% if user_signed_in? %>
            <span>
              ようこそ
              <%= link_to current_user.name, user_path(current_user) %>
              さん！
            </span>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" role='presentation'>
            <a class="dropdown-toggle" data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
              <i class="fas fa-list-ul"></i>
              <span>
                ジャンルから探す
              </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role='menu'>
              <li role='presentation'>
                <% Genre.where(ancestry: nil).each do |genre| %>
                  <%= link_to genre.name, tourist_spot_genre_search_path(genre_search: genre.id), class: 'parent-genre', id: "#{genre.id}" %>
                <% end %>
              </li>
              <br>
              <li role='presentation' class='children-list'></li>
              <br>
              <li role="presentation" class='grandchildren-list'></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
              <i class="fas fas-bullseye"></i>
              <span>
                利用シーンから探す
              </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role='menu'>
              <li>
                <% Scene.all.each do |scene| %>
                  <%= link_to  scene.name, tourist_spot_scene_search_path(scene_search: scene.id) %>
                <% end %>
              </li>
              <br>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
              <i class="fas fa-globe-asia"></i>
              <span>
                都道府県から探す
              </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role='menu'>
              <li>
                <% JpPrefecture::Prefecture.all.each do |prefecture| %>
                  <%= link_to prefecture.name, tourist_spot_prefecture_search_path(prefecture_search: prefecture.code)%>
                <% end %>
              </li>
              <br>
            </ul>
          </li>

          <% if user_signed_in? %>
            <li class="dropdown">
              <% if unchecked_notifications(current_user).present? %>
                <i class="fa fa-circle header__notifications-icon--1" style='color: gold;'></i>
              <% end %>
              <a class="dropdown-toggle header__acount-link" data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
                <%= attachment_image_tag current_user, :profile_image, size: '30x30', fallback: 'others/no_image.jpg',class: 'img-thumbnail img-responsive img-hover' %>
                <span>
                  アカウント
                </span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fas fa-user"></i>
                    マイページ
                  <% end %>
                </li>
                <li>
                  <% if unchecked_notifications(current_user).present? %>
                    <i class="fa fa-circle header__notifications-icon--2" style='color: gold;'></i>
                    <%= link_to notifications_path, class: 'header__notifications-link' do %>
                      <i class="fas fa-bell"></i>
                      通知
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to rooms_path do %>
                    <i class="fas fa-envelope"></i>
                    メッセージ
                  <% end %>
                </li>
                <li>
                  <%= link_to coupons_path do %>
                    <i class="fas fa-gift"></i>
                    クーポン
                  <% end %>
                </li>
                <li>
                  <%= link_to favorites_path do %>
                    <i class="fas fa-star"></i>
                    行きたい観光地
                  <% end %>
                </li>
                <li>
                  <%= link_to wents_path do %>
                    <i class="fas fa-circle"></i>
                    行った観光地
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <i class="fas fa-user-cog"></i>
                    プロフィール編集
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>
                    ログアウト
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                新規会員登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>




